<!-- ###TEMPLATE_DETAIL_UNIVERSITY### begin -->
<div id="eto-listelement">

	<h3>###NAME###</h3>

	NEWS: ###NEWS### <br/>
	INFO: ###INFO### <br/>
	Url: ###URL### <br/>
	E-Learning Webangebot: ###ELEARNINGURL### <br/>
	Kontakte: ###CONTACTS### <br />

</div>
<!-- ###TEMPLATE_DETAIL_UNIVERSITY### end -->

<!-- ###TEMPLATE_DETAIL_TRAINING### begin -->
<div id="eto-listelement">
	<div class="trainingstitel">###SUMMARY###</div>
	<div class="trainingsdescription">###DESCRIPTION###</div>
	<div class="trainingsurl"><b>Website:</b> ###URL###</div><br/>
	<div class="trainingsdt"><b>Beginn:</b> ###DTSTART###</div>
	<div class="location"><b>Ort:</b> ###LOCATION###</div>
	<div class="trainingscertificate"><b>Zertifikat:</b> ###CERTIFICATE###</div>
	<div class="trainingsdt"><b>Ende:</b> ###DTEND###</div>
	<div class="trainingscategory"><b>Kategorie:</b> ###CATEGORY###</div>
	<div class="trainingscontacts"><b>Kontakte:</b> ###CONTACTS###</div>
	<div class="trainingsdue"><b>Anmeldung bis:</b> ###DUE###</div>
	<div class="trainingstargetgroup"><b>Zielgruppe:</b> ###TARGETGROUP###</div>
	<div class="trainingsprice"><b>Preis:</b> ###PRICE###</div>
	<div class="trainingscontent"><b>Inhalt:</b> ###CONTENT###<div/>
</div>
<!-- ###TEMPLATE_DETAIL_TRAINING### end -->

<!-- ###TEMPLATE_DETAIL_TOOLPORTRAITETO### begin -->
<div id="eto-listelement">
	<h3>###TITLE###</h3>
	Einsatzgebiet: ###OPERATING_FIELD###<br/>
	Description: ###DESCRIPTION### <br/>
	Kategorie: ###CATEGORY### <br/>
	Betriebssysteme: ###OPERATING_SYSTEM### <br/>
	Vorteile: ###PROS### <br/>
	Nachteile: ###CONS### <br/>
	Beispiele: ###EXAMPLES### <br/>
	Datei-Formate: ###FORMAT###  <br/>
	Hersteller: ###PRODUCER###  <br/>
	Preis: ###PRICE###  <br/>
	Einstiegslevel ###LEVEL### <br/>
	Tutorials: ###TUTORIALS### <br/>
	Referenzen: ###REFERENCE### <br/>
	Alternativen: ###OPTIONS### <br/>
</div>
<!-- ###TEMPLATE_DETAIL_TOOLPORTRAITETO### end -->

<!-- ###TEMPLATE_DETAIL_TOOL### begin -->
<div id="eto-listelement">
	<div class="tooltitle">###TITLE###</div>
	<div class="tooldescription">###DESCRIPTION###</div>
	<div class="toolurl"><b>Url:</b> ###URL###</div>
	<div class="toolcontacts"><b>Kontakt:</b> ###CONTACTS###</div>
	<div class="toolcategory"><b>Kategorien:</b>###CATEGORIES###</div>
</div>
<!-- ###TEMPLATE_DETAIL_TOOL### end -->

<!-- ###TEMPLATE_DETAIL_SERVICE### begin -->
<div id="eto-listelement">
	<div class="servicesummary">###SUMMARY###</div><br/>
	<div class="servicedescription">###DESCRIPTION###</div><br/>
	<div class="serviceurl">Url: ###URL###</div><br/>
	<div class="servicetags">Tags: ###TAGS###</div>
	<div class="servicecontacts">Kontakte: ###CONTACTS###</div>
	<div class="servicecategory">Kategorie: ###SERVICECATEGORIES###</div>
	<div class="servicetools">Tools: ###TOOL###</div>
	<div class="servicetoolportraits">Toolportraits: ###TOOLPORTRAIT###</div>
</div>
<!-- ###TEMPLATE_DETAIL_SERVICE### end -->

<!-- ###TEMPLATE_DETAIL_PROJECT### begin -->
<div id="eto-listelement">
	<div class="projecttitle">###TITLE###</div>
	<div class="projectsummary">###SUMMARY###<br /></div>
	<div class="projectdescription">###DESCRIPTION###</div>
	<div class="projecttags"><b>Tags:</b> ###TAGS###</div>
	<div class="projectdtstart"><b>Projektstart:</b> ###DTSTART###</div>
	<div class="projectstate"><b>Status:</b> ###STATE###</div>
	<div class="projectcontacts"><b>Kontakt:</b> ###CONTACTS###</div>
	<div class="projectdtend"><b>Projektende:</b> ###DTEND###</div>
	<div class="projecturl"><b>Url:</b> ###URL###</div>
	<div class="projectcategory"><b>Kategorie:</b> ###CATEGORY###</div>
	<div class="projectresource"><b>Ressourcen:</b> ###RESOURCE###</div>
	<div class="projecttype"><b>Typ:</b> ###TYPE###</div>
	<div class="projectdepartment"><b>Abteilung:</b> ###DEPARTMENT###</div>
	<div class="projectpartners"><b>Partner:</b> ###PARTNERS###</div>
</div>
<!-- ###TEMPLATE_DETAIL_PROJECT### end -->

<!-- ###TEMPLATE_DETAIL_EVENT### begin -->
<div id="eto-listelement">
	<div class="eventsummary">###SUMMARY###</div>
	<div class="eventdescription">###DESCRIPTION###</div>
	<div class="eventdtstart"><b>Beginn:</b> ###DTSTART###</div>
	<div class="eventlocation"><b>Ort:</b> ###LOCATION###</div>
	<div class="eventurl"><b>Url:</b> ###URL###</div>
	<div class="eventdtend"><b>Ende:</b> ###DTEND###</div>
	<div class="eventhr"></div>
</div>
<!-- ###TEMPLATE_DETAIL_EVENT### end -->

<!-- ###TEMPLATE_DETAIL_CONTACT### begin -->
<div id="eto-listelement">
	<div class="contactimage">###PHOTOURL###</div>
	<div class="contactname"><b>###HONORIFIC_SUFFIX### ###GIVENNAME### ###FAMILYNAME###</b></div>
	<div class="contactrole">###ROLE###</div>
	<div class="contactphone"><b>Telefon:</b> ###PHONE### </div>
	<div class="contactemail"><b>E-Mail:</b> ###EMAIL### </div>
	<div class="contacturl"><b>Web: ###URL### </div><br />
	<div class="contacttools"><b>Werkzeuge:</b> ###TOOLS### </div>
	<div class="contacttoolportraits"><b>Werkzeugsteckbriefe:</b> ###PORTRAITS### </div>
</div>
<!-- ###TEMPLATE_DETAIL_CONTACT### end -->
