<!-- ###TEMPLATE_LIST### begin -->
<style type="text/css">

.projecttitle {
margin-top: 10px;
margin-bottom: 5px;
margin-left: 5px;
float: left;
width: 90%;
font: bold 18px arial, sans-serif;
}

.projectsummary {
margin-left: 5px;
text-align: justify;
float: left;
width: 90%;
font: 12px arial, sans-serif;
margin-bottom: 5px;
}

.projectdescription {
margin-left: 5px;
text-align: justify;
float: left;
width: 90%;
font: 12px arial, sans-serif;
margin-bottom: 15px;
}

.projecttags {
margin-left: 5px;
float: left;
width: 90%;
font: 12px arial, sans-serif;
margin-bottom: 15px;
}

.projectdtstart {
margin-left: 5px;
border: 1px solid white;
float: left;
width: 30%;
font: 12px arial, sans-serif;
background-color: #d4dfeb;
}

.projectdtend {
margin-left: 5px;
border: 1px solid white;
float: left;
width: 30%;
font: 12px arial, sans-serif;
background-color: #d4dfeb;
}

.projectstate {
border: 1px solid white;
float: left;
width: 30%;
font: 12px arial, sans-serif;
background-color: #d4dfeb;
}

.projectcontacts {
border: 1px solid white;
float: left;
width: 30%;
font: 12px arial, sans-serif;
background-color: #d4dfeb;
}

.projecturl {
border: 1px solid white;
float: left;
width: 30%;
font: 12px arial, sans-serif;
background-color: #d4dfeb;
}

.projectresource {
margin-left: 5px;
border: 1px solid white;
float: left;
width: 30%;
font: 12px arial, sans-serif;
background-color: #d4dfeb;
} 

.projecttype {
border: 1px solid white;
float: left;
width: 30%;
font: 12px arial, sans-serif;
background-color: #d4dfeb;
} 

.projectpartners {
margin-left: 5px;
border: 1px solid white;
float: left;
width: 30%;
font: 12px arial, sans-serif;
background-color: #d4dfeb;
} 

.projectdepartment {
border: 1px solid white;
float: left;
width: 30%;
font: 12px arial, sans-serif;
background-color: #d4dfeb;
} 

.projectcategory {
border: 1px solid white;
float: left;
width: 30%;
font: 12px arial, sans-serif;
background-color: #d4dfeb;
} 
</style>

<div id="eto-listelement">

<div class="projecttitle">###TITLE###</div>
<div class="projectsummary">###SUMMARY###<br /></div>
<div class="projectdescription">###DESCRIPTION###</div>
<div class="projecttags"><b>Tags:</b> ###TAGS###</div>
<div class="projectdtstart"><b>Projektstart:</b> ###DTSTART###</div>
<div class="projectstate"><b>Status:</b> ###STATE###</div>
<div class="projectcontacts"><b>Kontakt:</b> ###CONTACTS###</div>
<div class="projectdtend"><b>Projektende:</b> ###DTEND###</div>
<div class="projecturl"><b>Url:</b> ###URL###</div>	
<div class="projectcategory"><b>Kategorie:</b> ###CATEGORY###</div>
<div class="projectresource"><b>Ressourcen:</b> ###RESOURCE###</div>
<div class="projecttype"><b>Typ:</b> ###TYPE###</div>
<div class="projectdepartment"><b>Abteilung:</b> ###DEPARTMENT###</div>
<div class="projectpartners"><b>Partner:</b> ###PARTNERS###</div>



</div>
<!-- ###TEMPLATE_LIST### end -->
