<!-- ###TEMPLATE_LIST### begin -->
<style type="text/css">

.tooltitle {
margin-left: 3px;
margin-bottom: 5px;
width: 90%;
font: bold 18px arial, sans-serif;
}

.tooldescription {
margin-left: 5px;
margin-bottom: 5px;
width: 90%;
font: 12px arial, sans-serif;
text-align: justify;
}

.toolurl {
margin-left: 5px;
width: 30%;
float: left;
border: 1px solid white;
font: 12px arial, sans-serif;
background-color: #d4dfeb;
}

.toolcontacts {
width: 30%;
float: left;
border: 1px solid white;
font: 12px arial, sans-serif;
background-color: #d4dfeb;
}

.toolcategory {
width: 30%;
float: left;
border: 1px solid white;
font: 12px arial, sans-serif;
background-color: #d4dfeb;
}

.toolhr {
}
</style>

<div id="eto-listelement">

<div class="tooltitle">###TITLE###</div>
<div class="tooldescription">###DESCRIPTION###</div>
<div class="toolurl"><b>Url:</b> ###URL###</div>
<div class="toolcontacts"><b>Kontakt:</b> ###CONTACTS###</div>
<div class="toolcategory"><b>Kategorien:</b>###CATEGORIES###</div>

</div>
<!-- ###TEMPLATE_LIST### end -->
