<!-- ###TEMPLATE_LIST### begin -->
<div id="eto-listelement">

	<h3>###SUMMARY###</h3>

	Description: ###DESCRIPTION### <br/>
	Url: ###URL### <br/>
	Tags: ###TAGS### <br/>
	Kontakte: ###CONTACTS### <br/>
	Kategorie: ###SERVICECATEGORIES### <br/>
	Tools: ###TOOL### <br/>
	Toolportraits: ###TOOLPORTRAIT###

</div>
<!-- ###TEMPLATE_LIST### end -->
