<!-- ###TEMPLATE_LIST### begin -->
<div id="eto-listelement">

	<h3>###SUMMARY###</h3>

	Description: ###DESCRIPTION### <br/>
	Location: ###LOCATION### <br/>
	Url: ###URL### <br/>
	DtStart: ###DTSTART### <br/>
	DTEND: ###DTEND### <br />
	Full Date: ###DATE### <br/>


</div>
<!-- ###TEMPLATE_LIST### end -->