<!-- ###TEMPLATE_LIST### begin -->
<style type="text/css">

.servicesummary {
font: bold 16px arial, sans-serif;
width: 90%;
}

.servicedescription {
font: 12px arial, sans-serif;
width: 90%;
}

.serviceurl {
font: 12px arial, sans-serif;
width: 90%
}

.servicetags {
font: 12px arial, sans-serif;
width: 90%
}

.servicecontacts {
font: 12px arial, sans-serif;
background-color: #76affd;
border: 1px solid white;
width: 30%;
float: left;
}

.servicecategory {
font: 12px arial, sans-serif;
background-color: #76affd;
border: 1px solid white;
width: 30%;
float: left;
}

.servicetools {
font: 12px arial, sans-serif;
background-color: #76affd;
border: 1px solid white;
width: 30%;
float: left;
}

.servicetoolportraits {
font: 12px arial, sans-serif;
background-color: #76affd;
border: 1px solid white;
width: 30%;
float: left;
}

</style>

<div id="eto-listelement">

<div class="servicesummary">###SUMMARY###</div><br/>
<div class="servicedescription">###DESCRIPTION###</div><br/>
<div class="serviceurl">Url: ###URL###</div><br/>
<div class="servicetags">Tags: ###TAGS###</div>
<div class="servicecontacts">Kontakte: ###CONTACTS###</div>
<div class="servicecategory">Kategorie: ###SERVICECATEGORIES###</div>
<div class="servicetools">Tools: ###TOOL###</div>
<div class="servicetoolportraits">Toolportraits: ###TOOLPORTRAIT###</div>

</div>
<!-- ###TEMPLATE_LIST### end -->