<!-- ###TEMPLATE_LIST### begin -->
<div id="eto-listelement">

	<h3>###TITLE###</h3>

	Einsatzgebiet: ###OPERATING_FIELD###<br/>
	Description: ###DESCRIPTION### <br/>
	Kategorie: ###CATEGORY### <br/>
	Betriebssysteme: ###OPERATING_SYSTEM### <br/>
	Vorteile: ###PROS### <br/>
	Nachteile: ###CONS### <br/>
	Beispiele: ###EXAMPLES### <br/>
	Datei-Formate: ###FORMAT###  <br/>
	Hersteller: ###PRODUCER###  <br/>
	Preis: ###PRICE###  <br/>
	Einstiegslevel ###LEVEL### <br/>
	Tutorials: ###TUTORIALS### <br/>
	Referenzen: ###REFERENCE### <br/>
	Alternativen: ###OPTIONS### <br/>
	
</div>
<!-- ###TEMPLATE_LIST### end -->
