<!-- ###TEMPLATE_LIST### begin -->
<style type="text/css">

.contactname {
font: 16px arial, sans-serif;
}

.contactimage {
display: block;
height: 100px;
overflow: hidden;
float: left;
border: 1px solid black;
margin-top: 2px;
margin-bottom: 10px;
margin-right: 5px;
}

.contactrole {
font: italic 14px arial, sans-serif;
margin-bottom: 2px;
}

.contactemail {
margin-bottom: 2px;
font: 12px arial, sans-serif;
}

.contactphone {
margin-bottom: 2px;
font: 12px arial, sans-serif;
}

.contactmorelink {
margin-bottom: 2px;
font: 12px arial, sans-serif;
}

.floatstop {
clear:both;
}

.contacthr {
border: none;
margin-bottom: 10px;
height: 1px;
color: black;
background-color: black;
float:left;
width: 91%;
}

</style>
<div id="eto-listelement">

<div class="contactimage">###PHOTOURL###</div>
<div class="contactname"><b>###HONORIFIC_SUFFIX### ###GIVENNAME### ###FAMILYNAME###</b></div>
<div class="contactrole">###ROLE###</div>
<div class="contactphone"><b>Telefon:</b> ###PHONE### </div>
<div class="contactemail"><b>E-Mail:</b> ###EMAIL### </div>
<div class="contactmorelink">###MORELINK###<br/></div><div class="floatstop"></div>
<div class="contacthr"></div><br />

</div>
<!-- ###TEMPLATE_LIST### end -->
