<!-- ###TEMPLATE_LIST### begin -->
<div id="eto-listelement">

	<h3>###HONORIFIC_SUFFIX### ###GIVENNAME### ###FAMILYNAME###</h3>

	Email: ###EMAIL### <br/>
	Telefon: ###PHONE###  <br/>
	Web: ###URL### <br/>
	Rolle: ###ROLE### <br/>

	Image: ###PHOTOURL### <br/>

	Tools: ###TOOLS### <br/>
	Toolportraits: ###PORTRAITS### <br/>
	Mehr: ###MORELINK###

</div>
<!-- ###TEMPLATE_LIST### end -->
