<!-- ###TEMPLATE_LIST### begin -->
<style type="text/css">

.servicesummary {
margin-left: 3px;
margin-bottom: 5px;
font: bold 18px arial, sans-serif;
width: 90%;
}

.servicedescription {
margin-left: 5px;
margin-bottom: 5px;
font: 12px arial, sans-serif;
width: 90%;
}

.serviceurl {
border: 1px solid white;
background-color: #d4dfeb;
font: 12px arial, sans-serif;
float: left;
width: 30%
}

.servicetags {
margin-left: 5px;
font: 12px arial, sans-serif;
width: 90%
}

.servicecontacts {
margin-left: 5px;
border: 1px solid white;
background-color: #d4dfeb;
font: 12px arial, sans-serif;
width: 30%;
float: left;
}

.servicecategory {
border: 1px solid white;
background-color: #d4dfeb;
font: 12px arial, sans-serif;
width: 30%;
float: left;
}

.servicetools {
border: 1px solid white;
background-color: #d4dfeb;
margin-left: 5px;
font: 12px arial, sans-serif;
width: 30%;
float: left;
}

.servicetoolportraits {
border: 1px solid white;
background-color: #d4dfeb;
font: 12px arial, sans-serif;
width: 30%;
float: left;
}

.servicehr {
border: none;
margin-top: 5px;
margin-bottom: 10px;
height: 1px;
color: black;
background-color: black;
float:left;
width: 91%;
} 

</style>

<div id="eto-listelement">

<div class="servicesummary">###SUMMARY###</div>
<div class="servicedescription">###DESCRIPTION###</div>
<div class="servicetags"><b>Tags:</b> ###TAGS###</div>
<div class="servicecontacts"><b>Kontakt:</b> ###CONTACTS###</div>
<div class="servicecategory"><b>Kategorie:</b> ###SERVICECATEGORIES###</div>
<div class="serviceurl"><b>Url:</b> ###URL###</div>
<div class="servicetools"><b>Tools:</b> ###TOOL###</div>
<div class="servicetoolportraits"><b>Toolportraits:</b> ###TOOLPORTRAIT###</div>
<div class="servicehr"></div>


</div>
<!-- ###TEMPLATE_LIST### end -->
