<!-- ###TEMPLATE_LIST### begin -->
<div id="eto-listelement">

	<h3>###TITLE###</h3>

	Description: ###DESCRIPTION### <br/>
	Url: ###URL### <br/>
	Kontakte: ###CONTACTS### <br/>
	Kategorien: ###CATEGORIES### <br/>
	Mehr: ###MORELINK###

</div>
<!-- ###TEMPLATE_LIST### end -->
