
Dont make a carriage return after the template marker. XML has to start in first line and first col!

<!-- ###TEMPLATE_LIST### begin --><?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE eteaching-import SYSTEM "http://www.e-teaching.org/etresources/content-syndication/dtd/eteaching-import.dtd" >


<eteaching-import>

<university-data uid="###OBJECTID###" university-key="###UNIVERSITY-KEY###" changed="###TSTAMP###">
	<university-information><![CDATA[###INFO###]]></university-information>
	<university-news><![CDATA[###NEWS###]]></university-news>
	<url><![CDATA[###URL###]]></url>
	<e-learning-url><![CDATA[###ELEARNINGURL###]]></e-learning-url>
	<news-feed-url><![CDATA[###NEWSFEEDURL###]]></news-feed-url>

###PROJECTS###
###EVENTS###
###TRAININGS###
###SERVICES###
###TOOLS###
###TOOL-PORTRAITS###

	<hs-contacts>
###HS-CONTACT###
	</hs-contacts>
	<hs-tools>
###TOOLIDS###
###TOOLPORTRAITIDS###
	</hs-tools>
</university-data>
</eteaching-import>

<!-- ###TEMPLATE_LIST### end -->


