<!-- ###TEMPLATE_LIST### begin -->
###INDENT###<contact uid="###OBJECTID###" changed="###TSTAMP###">
	###INDENT###<academic-degree><![CDATA[###HONORIFIC_SUFFIX###]]></academic-degree>
	###INDENT###<given-name><![CDATA[###GIVENNAME###]]></given-name>
	###INDENT###<family-name><![CDATA[###FAMILYNAME###]]></family-name>
	###INDENT###<email><![CDATA[###EMAIL###]]></email>
	###INDENT###<fon><![CDATA[###PHONE###]]></fon>
	###INDENT###<url><![CDATA[###URL###]]></url>
	###INDENT###<photourl><![CDATA[###PHOTOURL###]]></photourl>
	###PORTRAITS###
	###TOOLS###
	###ROLE###
###INDENT###</contact>
<!-- ###TEMPLATE_LIST### end -->
<!-- ###TEMPLATE_TOOL### begin -->
	###INDENT###<tool-id><![CDATA[###TOOL###]]></tool-id>
<!-- ###TEMPLATE_TOOL### end -->
<!-- ###TEMPLATE_ROLE### begin -->
###INDENT###<role><![CDATA[###ROLE###]]></role>
<!-- ###TEMPLATE_ROLE### end -->
<!-- ###TEMPLATE_PORTRAITS### begin -->
	###INDENT###<portrait-id><![CDATA[###PORTRAIT###]]></portrait-id>
<!-- ###TEMPLATE_PORTRAITS### end -->
<!-- ###TEMPLATE_PORTRAIT### begin -->
        ###INDENT###<portrait-id><![CDATA[###TOOL-PORTRAIT-ID###]]></portrait-id>
<!-- ###TEMPLATE_PORTRAIT### end -->
<!-- ###TEMPLATE_TOOL-PORTRAIT-ID### begin -->
        ###INDENT###<portrait-id><![CDATA[###TOOL-PORTRAIT-ID###]]></portrait-id>
<!-- ###TEMPLATE_TOOL-PORTRAIT-ID### end -->
