<!-- ###TEMPLATE_LIST### begin -->
<event uid="###OBJECTID###" changed="###TSTAMP###">
    <summary><![CDATA[###SUMMARY###]]></summary>
    <description><![CDATA[###DESCRIPTION###]]></description>
    <location><![CDATA[###LOCATION###]]></location>
    <url><![CDATA[###URL###]]></url>
    <dtstart>###DTSTART###</dtstart>
    <dtend>###DTEND###</dtend>
</event>
<!-- ###TEMPLATE_LIST### end -->
