<!-- ###TEMPLATE_LIST### begin -->
<service uid="###OBJECTID###" changed="###TSTAMP###">
	<summary><![CDATA[###SUMMARY###]]></summary>
	<description><![CDATA[###DESCRIPTION###]]></description>
	<url><![CDATA[###URL###]]></url>
	<item-tags><![CDATA[###TAGS###]]></item-tags>
###CATEGORIES###
	###CONTACTS###
###TOOL###
###TOOLPORTRAIT###
</service>
<!-- ###TEMPLATE_LIST### end -->


<!-- ###TEMPLATE_CATEGORY### begin -->
	<category><![CDATA[###CATEGORY###]]></category>
<!-- ###TEMPLATE_CATEGORY### end -->
