<!-- ###TEMPLATE_LIST### begin -->

<tool uid="###OBJECTID###" changed="###TSTAMP###">
      <title><![CDATA[###TITLE###]]></title>
      <description><![CDATA[###DESCRIPTION###]]></description>
      <url><![CDATA[###URL###]]></url>
      ###CATEGORIES###
###CONTACTS###
</tool>
<!-- ###TEMPLATE_LIST### end -->

<!-- ###TEMPLATE_CATEGORY### begin -->
<category><![CDATA[###CATEGORY###]]></category>
<!-- ###TEMPLATE_CATEGORY### end -->
