<!-- ###TEMPLATE_LIST### begin -->
<project uid="###OBJECTID###" changed="###TSTAMP###">
	<title><![CDATA[###TITLE###]]></title>
	<summary><![CDATA[###SUMMARY###]]></summary>
	<description><![CDATA[###DESCRIPTION###]]></description>
	<url><![CDATA[###URL###]]></url>
	<project-state><![CDATA[###STATE###]]></project-state>
	<dtstart>###DTSTART###</dtstart>
	<dtend>###DTEND###</dtend>
	<project-responsibility><![CDATA[###TYPE###]]></project-responsibility>
	<project-resources><![CDATA[###RESOURCE###]]></project-resources>
	<item-tags><![CDATA[###TAGS###]]></item-tags>
###PARTNERS###
###CONTACTS###
###CATEGORY###
###DEPARTMENT###
</project>
<!-- ###TEMPLATE_LIST### end -->


<!-- ###TEMPLATE_PROJECT-PARTNER### begin -->
	<project-partner><![CDATA[###PROJECT-PARTNER###]]></project-partner>
<!-- ###TEMPLATE_PROJECT-PARTNER### end -->

<!-- ###TEMPLATE_CATEGORY### begin -->
	<category><![CDATA[###CATEGORY###]]></category>
<!-- ###TEMPLATE_CATEGORY### end -->

<!-- ###TEMPLATE_SUB-UNIT### begin -->
	<sub-unit><![CDATA[###SUB-UNIT###]]></sub-unit>
<!-- ###TEMPLATE_SUB-UNIT### end -->
