<!-- ###TEMPLATE_LIST### begin -->
<training uid="###OBJECTID###" changed="###TSTAMP###">
	<summary><![CDATA[###SUMMARY###]]></summary>
	<description><![CDATA[###DESCRIPTION###]]></description>
	<location><![CDATA[###LOCATION###]]></location>
	<url><![CDATA[###URL###]]></url>
	<dtstart>###DTSTART###</dtstart>
	<dtend>###DTEND###</dtend>
	<due>###DUE###</due>
	<category><![CDATA[###CATEGORY###]]></category>
	<target-group><![CDATA[###TARGETGROUP###]]></target-group>
	<price><![CDATA[###PRICE###]]></price>
	<certificate><![CDATA[###CERTIFICATE###]]></certificate>
###CONTENT###
###CONTACTS###
</training>
<!-- ###TEMPLATE_LIST### end -->

<!-- ###TEMPLATE_CONTENT### begin -->
	<content><![CDATA[###CONTENT###]]></content>
<!-- ###TEMPLATE_CONTENT### end -->
